.container{
    width: 600px;
    height: 300px;
    inline-size: 600px;
    block-size: 300px;
    border: 1px solid red;
    background-color: yellow;
    background-image: url(./../../images/ani_flower_01.png), url(./../../images/ani_flower_02.png);
    background-repeat: no-repeat;
    background-position: 0 0, 100px 50px;
}
