<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>문서 제목</title>
    <link rel="stylesheet" href="웹폰트">
    <link rel="stylesheet" href="./css/member-service.css">
</head>
<body>
    <h1>문서 제목</h1>
    <ul class="member-service">
        <li>
            <a href="/">홈</a>
        </li>
        <li>
            <span aria-hidden="true">:</span>
            <a href="/">로그인</a>
        </li>
        <li>
            <span aria-hidden="true">:</span>
            <a href="/">회원가입</a>
        </li>
        <li>
            <span aria-hidden="true">:</span>
            <a href="/">사이트맵</a>
        </li>
        <li>
            <span aria-hidden="true">:</span>
            <a href="/">english</a>
        </li>
    </ul>
</body>
</html>